{% extends '_base.html' %}
{% block title %}{{user.get_full_name}}{% endblock title %}
{% block content %}
<h1>My orders</h1>
{% if user.is_authenticated %}
  <p>Hi {{ user.get_full_name }}! </p>

{% endif %}
{%if orders.count > 0%}
<p>You've been eating here {{orders.count}} already!</p>
<hr>
<h4>Your previous orders</h4>
<div class="row">
  <div class="col shopping-cart">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID order</th>
          <th scope="col">Date</th>
          <th scope="col">Order state</th>
          <th scope="col">Final price</th>
        </tr>
      </thead>
      <tbody>
        {% for order in orders %}
    
        <tr>
    
          <th scope="row">{{order.pk}}</th>
          <td>{{order.time_created}}</td>
          <td>{{order.order_state}}</td>
          <td>{{order.final_price}} $</td>
          
    
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}


{% endblock content %}