/* static/css/base.css */
h1 {
  color: red;
  }



table { 
  empty-cells:show; 
  vertical-align: middle;
}

tr {
  height: 57px;
}

th, td {
  overflow: hidden;
  vertical-align: middle !important;
  height: 47px;
}

.items {
  width: 10rem;
}

.size {
  width: 10rem;
}

.menu {
  height: 310px;
}

#dish-list li:nth-of-type(1n+10) {
  display: none;
}