/* static/css/base.css */

.container-fluid {
  background: linear-gradient(90deg, rgba(0,146,70,0.6) 0%, rgba(206,43,55,0.6) 100%);
}

body {
  background: linear-gradient(to right, rgba(0, 146, 70, 0.9) calc(100% / 5 ), rgba(255, 255, 255, 0.9) calc(100% / 5), rgba(255, 255, 255, 0.9) calc(80%), rgba(206, 43, 55, 0.9) calc(100% / 5));
  color: white;
  display: block;
  position: relative;
  margin: 0 auto;
  z-index: 0;
  min-height: 100vh;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

body::after {
  background: url("/static/images/pizzaslice.png");
  content: "";
  opacity: 0.5;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1; 
}

h1, h2 {
  color: red;
  
}

table { 
  empty-cells:show; 
  vertical-align: middle;
  color: white !important;
}

.shopping-cart {
  opacity: 1;
}

.itemadd {
  color: white;
}

select#id_kind, select#id_size, input#id_n_items {
  width: 48%;
}

tr {
  height: 57px;
}

th, td {
  overflow: hidden;
  vertical-align: middle !important;
  height: 81px;
}

.prices {
  color: white;
}
.menu {
  height: 310px;
}

#dish-list li:nth-of-type(1n+10) {
  display: none;
}


@media (max-width: 576px) {
  th.requiredField {
    width: 58px;
  }

  td.form-group {
    width: 58px;
  }
  select.size {
    width: 78px;
  }

  input.items {
    width: 48px;
  }
  .itemadd {
    
    color: white;
  }
  .prices {
    color: white;
  }
  
}

