/* static/css/base.css */


body {
  background-image: url("/static/images/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: linear-gradient(to right, rgba(0, 146, 70, 0.9) calc(100% / 4 ), rgba(255, 255, 255, 0.9) calc(100% / 4), rgba(255, 255, 255, 0.9) calc(75%), rgba(206, 43, 55, 0.9) calc(100% / 4));
  color: white;
  display: block;
  position: relative;
  margin: 0 auto;
  z-index: 0;
  min-height: 100vh;
  font-family: "Rock Salt", "Calligraffiti", sans-serif;
}



.navbar {
  background-image: url("/static/images/backgroundnavbar.png");
  background-color: linear-gradient(to right, rgba(0, 146, 70, 0.9) calc(100% / 4 ), rgba(255, 255, 255, 0.9) calc(100% / 4), rgba(255, 255, 255, 0.9) calc(75%), rgba(206, 43, 55, 0.9) calc(100% / 4));
}

.row {
  padding-top: 20px;
}

.dropdown-item:hover, .list-group-item-action:hover {
  background: #5cb85c;
  color: white;
}

.dropdown-item.active, .list-group-item-action.active{
  background: #5cb85c;
  border-style: none;
}

h1, h2 {
  color: #f0ad4e;
}

table { 
  empty-cells:show; 
  vertical-align: middle;
  color: wheat !important;
}

.shopping-cart {
  opacity: 1;
}

.itemadd {
  color: wheat;
}

tr {
  height: 57px;
}

th, td {
  overflow: hidden;
  vertical-align: middle !important;
  height: 81px;
}

.prices {
  color: wheat;
}

.menu {
  height: 310px;
  background-color: rgba(255, 255, 255, 0);
  opacity: 0.8;
  color: wheat;
}

.menu:hover {
  background: #f0ac4e6b;
}

#dish-list li:nth-of-type(1n+10) {
  display: none;
}

.order-detail {
  font-size: 10px;
}

@media (max-width: 576px) {
  th.requiredField {
    width: 58px;
  }

  td.form-group {
    width: 58px;
  }
  select.size {
    width: 78px;
    font-size: xx-small !important;
  }

  input.items {
    width: 48px;
  }

  .itemadd {
    color: wheat;
  }

  .prices {
    color: wheat;
  }
  
  #navmenu {
    display: none;
  }

  .order-list {
    font-size: small;
  }
}


