{% extends '_base.html' %}
{% block title %}Order {{order.id}}{% endblock title %}
{% block content %}
<div class="row">
  <div class="col">
    <h2>Order n. {{order.id}}</h2>
  </div>

</div>



<div class="row">
  <div class="col">
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">Dish</th>
          <th scope="col">Category</th>
          <th scope="col">Size</th>
          <th scope="col">N. items</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
          {% for item in order.items.all %}
        <tr>
          <th scope="row">{{item.kind}}</th>
          <td>{{item.kind.category}}</td>
          <td>{{item.size}}</td>
          <td>{{item.n_items}}</td>
          <td>{{item.price}} $</td>
        </tr>
        {% endfor %}
        <tr>
          <th scope="row"></th>
          <td>&nbsp;</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Final price</th>
          <td></td>
          <td></td>
          <td></td>
          <td>{{order.final_price}} $</td>
        </tr>
    
      </tbody>
    </table>
  </div>
</div>

<form action="{% url 'charge' %}" method="post">
    {% csrf_token %}
    <input type="hidden" id="order-amount" name="order-amount" value="{% widthratio order.final_price 1 100 %}">
    <input type="hidden" id="order-id" name="order-id" value="{{order.pk}}">
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="{{stripe_key}}" 
    data-description="Confirm Order" 
    data-amount="{% widthratio order.final_price 1 100 %}" 
    data-locale="auto">
    </script> 
</form>
    
{% endblock content %}