{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block content %}


<div class="row">
  <div class="col-md-3" id="navmenu">
    <div class="list-group">
      {% for category in categories %}
      <a href="{% url 'additem' category.slug %}" class="list-group-item list-group-item-action {% if category.slug in request.path%}active
      {% endif %}">{{category}} </a>
      
      {% empty %}
      <a href="#" class="list-group-item list-group-item-action">No items</a>
      
      {% endfor %}
    </div>
  </div>
  <div class="col-md-6 itemadd">
    <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-success" type="submit">Add</button>
    </form>
    <hr>
    <p>
      <label class="prices" for="output">Price: </label>
      <output class="prices" name="result" id="final_price">Select your {{category.name}}!</output>
    </p>
  </div>
</div>
<script type="text/javascript"> 
  const category = '{{category.name}}'
  const items = [];
  {% for item in items %}
  items.push({name:'{{item.name}}', price:'{{item.price}}', price_large:'{{item.price_large}}'});
  {% endfor %}
  document.addEventListener('DOMContentLoaded', () => { 
    const itemdish = document.getElementById('id_dish');
    const itemSize = document.getElementById('id_size');
    const toppings = document.getElementById('div_id_toppings');
    let itemPrice;
    let isSub = false;
    const form = document.querySelector('form');
    let checks;
    if (category !== 'Subs') {
      checks = document.querySelectorAll(".form-check-input");
    }
    else {
      isSub = true;
      checks = document.querySelectorAll(".form-check-label");
    }
    document.querySelectorAll('.form-check').forEach(element => {
      element.classList.add('form-check-inline')
    })
    if (toppings) {
      toppings.readOnly = true;
      toppings.style.display = 'none'
    }
    let max = 0;
    let currentItem
    form.addEventListener('change', function() {
      let n_items = document.getElementById('id_n_items').value
      currentItem = itemdish.options[itemdish.selectedIndex].text;
      let currentSize;
      if (itemSize.value == 'Small'){
        currentSize = 'Small';
      }
      else{
        currentSize = itemSize.options[itemSize.selectedIndex].text;
      }
      for (let item of items){
        if (currentItem == item.name && currentSize == 'Small') {
          itemPrice = parseFloat(item.price) * n_items;
        }
        else if (currentItem == item.name && currentSize == 'Large'){
          itemPrice = parseFloat(item.price_large) * n_items;
        }
        
      }
      showPriceDOM();
      if (currentItem.includes('topping') || currentItem.includes('Special') || category == 'Subs'){
        toppings.style.display = 'initial';
      }
      else if (currentItem == 'Cheese' || currentItem == '---------'){
        toppings.style.display = 'none';
      }
      if (!isSub){
        

        if (currentItem == 'One topping'){
          max = 1;
          cleanChecks();
        }
        else if (currentItem == 'Two toppings') {
          max = 2;
          cleanChecks();
        }
        else if (currentItem == 'Three toppings') {
          max = 3;
          cleanChecks();
        }
        else if (currentItem == 'Special') {
          max = 5;
          cleanChecks();
        }
        else {
          max = 0;
          cleanChecks();
        }
      }
      else {
        let checkInputs = document.getElementsByClassName('form-check-input');
        for (let check of checkInputs) {
          if (!currentItem.includes('Steak')){
            let checktext = document.querySelector('label[for='+check.id+']').textContent.trim();
            if (checktext != 'Cheese') {
              check.disabled = true;
              check.checked = false;
            }
          } 
          else{
            check.disabled = false;
          }        
        }
        let checkedChecks = document.querySelectorAll(".form-check-input:checked");
        itemPrice = itemPrice + (checkedChecks.length * 0.5);
        showPriceDOM();
      }
    });
    let checkedChecks = document.querySelectorAll(".form-check-input:checked");
    function showPriceDOM(){
      document.getElementById('final_price').innerHTML = itemPrice.toFixed(2) + '$';
    }
    function cleanChecks(){
      if (checkedChecks.length > max) {
        for (let i = 0; i < checkedChecks.length; i++){
        checkedChecks[i].checked = false;
        }
      }
    }
    for (let i = 0; i < checks.length; i++){
      checks[i].onclick = selectiveCheck;
    }
    function selectiveCheck (event) {
      checkedChecks = document.querySelectorAll(".form-check-input:checked");
      if (checkedChecks.length >= max + 1)
        return false;
    }
  })
</script>

{% endblock content %}