{% extends '_base.html' %}
{% block title %}Shopping Cart{% endblock title %}
{% block content %}
{% load crispy_forms_tags %}
<h1>Shopping cart</h1>
<div class="row no-gutters align-items-bottom">
    <div class="col-5 my-top" style="margin-top: 16px;">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Dish</th>
                </tr>

            </thead>
            <tbody>
                {% for item in order.items.all %}
                <tr>
                    <td class="align-middle {{item.category}}">{{item.category}}</td>
                    <td class="align-middle">{{item.kind}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td class="align-middle">Final price</td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-5 order-1 my-top">
        <form method="post">
            {% csrf_token %}
            

            {% crispy item helper %}
            {{ form|crispy }}
            
            <button class="btn btn-success" value="Save" type="submit">Save</button>
            <a class='btn btn-danger'href="{% url 'order-delete' order.pk%}" >delete</a>
            
        </form>
        
    </div>
    <div class="col-2 order-12" style="margin-top: 16px;">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for item in order.items.all %}
                <tr>
                    <td class="align-middle" id="{{item.pk}}">{{item.price}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td id="total-price">{{order.final_price}}</td>
                </tr>
            </tbody>
        </table>
    </div>
        
        
       
</div>
<script>
  const items = [];
  {% for item in order.items.all %}
  items.push({idCSS:'id_items-0', itemID:'{{item.id}}', itemCategory:'{{item.category}}', 
    itemPrice:'{{item.kind.price}}', itemPriceLarge:'{{item.kind.price_large}}', itemSize:'{{item.size}}', 
    nItems:'{{item.n_items}}', get price(){
        if (this.itemSize == 'Large') {
            return this.itemPriceLarge * this.nItems;
        }
        else {
            return this.itemPrice * this.nItems;
        }
    }});
  {% endfor %}
  let count = 0;
  for (let item of items){
    item.idCSS = 'id_items-' + count;
    count++;
  }
  console.log(items)
  document.addEventListener('DOMContentLoaded', () => { 
    const re = /id.+\d+/;
    const form = document.querySelector('form');
    const selectors = document.querySelectorAll('select');
    const inputs = document.querySelectorAll('input[type="number"')
    for (let input of inputs){
        input.addEventListener('change', () => {
            let itemIDregex = input.id.match(re)[0]
            items.filter(item => {
                console.log(itemIDregex, item.idCSS)
                if (itemIDregex == item.idCSS){
                    item.nItems = input.value
                }
            })
            console.log(items)
        })
    }
    
    for (let selector of selectors){
        selector.addEventListener('change', () => {
            for (let option of Array.from(selector.options)) {
                if (option.selected) {
                    
                    items.filter(item => {
                        let itemIDregex = option.parentElement.id.match(re)[0]
                        console.log(itemIDregex)
                        if (item.idCSS == itemIDregex){
                            item.itemSize = option.value
                        console.log(items)
                    }
                    })
                }
            }
        })
    }
    })
    

        


</script>
{% endblock content %}
