{% extends '_base.html' %}
{% block title %}Shopping Cart{% endblock title %}
{% block content %}
{% load crispy_forms_tags %}
<h1>Shopping cart</h1>
<div class="row no-gutters align-items-bottom">
    <div class="col-auto my-top" style="margin-top: 16px;">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Dish</th>
                </tr>

            </thead>
            <tbody>
                {% for item in order.items.all %}
                <tr>
                    <td class="align-middle dish">{{item.category}}-{{item.dish}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td class="align-middle">Final price</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-auto order-1 my-top">
        <form method="post">
            {% csrf_token %}
            

            {% crispy item helper %}
            {{ form|crispy }}
            
            <button class="btn btn-success" value="Save" type="submit">Save</button>
            <a class='btn btn-danger'href="{% url 'order-delete' order.pk%}" >Delete</a>
            
        </form>
        
    </div>
    <div class="col-auto order-12" style="margin-top: 16px;">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for item in order.items.all %}
                <tr>
                    <td class="align-middle price" id="{{item.pk}}">{{item.price}}$</td>
                </tr>
                {% endfor %}
                <tr>
                    <td id="total-price">{{order.final_price}}$</td>
                </tr>
            </tbody>
        </table>
    </div>
        
        
       
</div>

<script>
  const items = [];
  {% for item in order.items.all %}
  items.push({idCSS:'id_items-0', itemID:'{{item.id}}', itemCategory:'{{item.category}}', 
    itemPrice:'{{item.dish.price}}', itemPriceLarge:'{{item.dish.price_large}}', itemSize:'{{item.size}}', 
    nItems:'{{item.n_items}}', get price(){
        if (this.itemSize == 'Large') {
            return this.itemPriceLarge * this.nItems;
        }
        else {
            return this.itemPrice * this.nItems;
        }
    }});
  {% endfor %}
  let count = 0;
  for (let item of items){
    item.idCSS = 'id_items-' + count;
    count++;
  }
  document.addEventListener('DOMContentLoaded', () => { 
    const selectors = document.querySelectorAll('select');
    const inputs = document.querySelectorAll('input[type="number"')
    updateItem(inputs);
    updateItem(selectors);
    items.filter(item => {
        if (item.itemCategory == 'Salad' || item.itemCategory == 'Pasta'){
            document.getElementById(item.idCSS + '-size').style.visibility = 'hidden'
        }
    })
})
    
function updateItem(arrayDOM){
    for (let itemDOM of arrayDOM) {
        itemDOM.addEventListener('change', () => {
            let itemIDregex = itemDOM.id.match(/id.+\d+/)[0]
            items.filter(item => {
                if(item.idCSS == itemIDregex){
                    if (isNaN(itemDOM.value)){
                        item.itemSize = itemDOM.value;
                    }
                    else {
                        item.nItems = itemDOM.value
                    }
                    document.getElementById(item.itemID).innerHTML = item.price.toFixed(2) + '$';
                    let prices = [];
                    document.querySelectorAll('.price').forEach(element => {
                        prices.push(parseFloat(element.innerHTML))
                    });
                    let final_price = prices.reduce((a, b) => a + b)
                    document.getElementById('total-price').innerHTML = final_price.toFixed(2) + '$';
                }
            })
            
        })
    }
    
}


</script>
{% endblock content %}
