{% extends '_base.html' %}
{% block title %}Shopping Cart{% endblock title %}
{% block content %}
{% load crispy_forms_tags %}
<h1>Shopping cart</h1>
<div class="row no-gutters align-items-bottom shopping-cart">
    <div class="col-md-5 col-5 my-top " style="margin-top: 16px;">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Dish</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for item in order.items.all %}
                <tr>
                    <td class="align-middle dish">{{item.category}}-{{item.dish}}</td>
                    <td class="align-middle price" id="{{item.pk}}">{{item.price}}$</td>
                </tr>
                {% endfor %}
                <tr>
                    <td class="align-middle">Final price</td>
                    <td id="total-price">{{order.final_price}}$</td>
                </tr>
            </tbody>
        </table>
        
    </div>
    <div class="col-md-7 col-7 order-1 my-top ">
        <form method="post" id="shop-cart">
            {% csrf_token %}
            {% crispy item helper %}
            {{ form|crispy }}
        </form>  
    </div>   
</div>
<div class="row no-gutters">
    <div class="col-auto">
        <button class="btn btn-success" id="confirm-button" value="Confirm" form="shop-cart" type="submit">Checkout</button>
    </div>
    <div class="col">
        <form method="POST" onsubmit="return confirmDelete()" action="{% url 'order-delete' order.pk%}">
            {% csrf_token %}<button class="btn btn-danger" type="submit"  value="Delete">Delete</button>
         </form>
    </div> 
</div>

<script>
  const items = [];
  {% for item in order.items.all %}
  items.push({idCSS:'id_items-0', itemID:'{{item.id}}', itemCategory:'{{item.category}}', 
    itemPrice:'{{item.dish.price}}', itemPriceLarge:'{{item.dish.price_large}}', itemSize:'{{item.size}}', 
    nItems:'{{item.n_items}}', get price(){
        if (this.itemSize == 'Large') {
            return this.itemPriceLarge * this.nItems;
        }
        else {
            return this.itemPrice * this.nItems;
        }
    }});
  {% endfor %}
  let count = 0;
  for (let item of items){
    item.idCSS = 'id_items-' + count;
    count++;
  }
  document.addEventListener('DOMContentLoaded', () => { 
    const selectors = document.querySelectorAll('select');
    const inputs = document.querySelectorAll('input[type="number"');
    const checkboxes = document.querySelectorAll('input[type="checkbox"');
    let checkValues = []
    let cartModified;
    
    checkboxes.forEach(element => {
        checkValues.push({'id': element.id, 'value': false})
        element.addEventListener('change', () => {
            for (let check of checkValues){
                if(event.target.checked && event.target.id == check.id){
                    check.value = true;
                }
                else if (!event.target.checked && event.target.id == check.id){
                    check.value = false;
                }
            }
            cartModified = checkValues.some(element => element.value == true);
            if (cartModified){
                document.getElementById('confirm-button').innerHTML = 'Update';
            }
            else{
                document.getElementById('confirm-button').innerHTML = 'Checkout';
            }
        })
        
    })
    
    updateItem(inputs);
    updateItem(selectors);
    items.filter(item => {
        if (item.itemCategory == 'Salad' || item.itemCategory == 'Pasta'){
            document.getElementById(item.idCSS + '-size').style.visibility = 'hidden';
        }
    })
})

function updateButtonHTML() {
    document.getElementById('confirm-button').innerHTML = 'Update'
}

function updateItem(arrayDOM){
    for (let itemDOM of arrayDOM) {
        itemDOM.addEventListener('change', () => {
            orderModified = true
            let itemIDregex = itemDOM.id.match(/id.+\d+/)[0];
            items.filter(item => {
                if(item.idCSS == itemIDregex){
                    if (isNaN(itemDOM.value)){
                        item.itemSize = itemDOM.value;
                    }
                    else {
                        item.nItems = itemDOM.value;
                    }
                    document.getElementById(item.itemID).innerHTML = item.price.toFixed(2) + '$';
                    let prices = [];
                    document.querySelectorAll('.price').forEach(element => {
                        prices.push(parseFloat(element.innerHTML));
                    });
                    let final_price = prices.reduce((a, b) => a + b);
                    document.getElementById('total-price').innerHTML = final_price.toFixed(2) + '$';
                }
            })
        })
    }   
}


</script>
{% endblock content %}
